@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'GT Walsheim Pro';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/gt-walsheim-pro-regular-webfont.woff2') format('woff2');
	}

	@font-face {
		font-family: 'GT Walsheim Pro';
		font-style: normal;
		font-weight: 500;
		src: url('/fonts/gt-walsheim-pro-medium-webfont.woff2') format('woff2');
	}

	@font-face {
		font-family: 'GT Walsheim Pro';
		font-style: normal;
		font-weight: 700;
		src: url('/fonts/gt-walsheim-pro-bold-webfont.woff2') format('woff2');
	}

	:is(picture) {
		display: block;
	}

	:is(picture) > :is(img) {
		display: block;
		max-width: 100%;
		height: 100%;
		object-fit: inherit;
	}
}

@layer components {
	.border,
	.border-r,
	.border-l,
	.border-t,
	.border-b,
	.border-x,
	.border-y {
		@apply border-border;
	}
}

.tabler-icon {
	width: 20px;
	height: 20px;
}
